.oi-caret-top {
  vertical-align: bottom;
  /* padding-left: 30px; */
  padding-right: 10px;
}

.oi-caret-bottom {
  vertical-align: bottom;
  /* padding-left: 30px; */
  padding-right: 10px;
}

.oi-star {
  padding-right: 10px;
}

.company-info {
  font-family: 'Lato', sans-serif;
}

.watchlist-link {
  cursor: pointer;
}

.company-name {
  background-color: black;
  color: white;
  font-size: 28px;
  border: 1px solid blue; 
}
