.App {
  text-align: center;
  font-size: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// My Styles

.Data-table {
  max-width: 500px;
  background-color: lime;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
  padding-left: 10px;
}

.blue-color {
  color: black;
  font-weight: bold;
}


.bg-dark {
  background-color: #23252A !important;
}